@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@font-face{
	font-family: edo_sz;
	src: url('../fonts/edosz.ttf');
}

/* form_add_noticia */
.form_h1{
	font-family: 'edo_sz';
	font-size: 35px;
	color: #783a93;
	text-align: center;
	margin: 0rem 0rem 1.5rem;
}

.form_add{
	width: 80vw;
	height: auto;
}

.form_add_wrapper{
	margin: 0rem 0rem 1rem;
}

.form_add_h1{
	font-family: 'edo_sz';
	font-size: 30px;
	color: #783a93;
	margin: 0rem 0rem 0.1rem;
}

/* inputs */
.form_add_input{
	width: 80vw;
	height: 4vh;
	font-size: 15px;
	border: none;
	border-radius: 3px;
	box-shadow:  0 0 5px #8c959a;
}

.form_add_textarea{
	width: 80vw;
	height: 8vh;
	font-size: 15px;
	border: none;
	border-radius: 3px;
	box-shadow:  0 0 5px #8c959a;
}

#noticia{
	height: 30vh;
}

/* botão add */
.div_add_btn{
	display: flex;
	align-items: center;
	justify-content: center;
}

.add_btn{
	width: 150px;
	height: 50px;
	background-color: #783a93;
	border: none;
	border-radius: 10px;
	font-family: 'edo_sz';
	font-size: 33px;
	color: #fff;
	margin: 0rem 0rem 1rem;
	box-shadow:  0 0 5px #8c959a;
}








