@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@font-face{
	font-family: edo_sz;
	src: url('../fonts/edosz.ttf');
}

.form_h1{
	font-family: 'edo_sz';
	font-size: 35px;
	color: #783a93;
	text-shadow: #f9c6e2 2px 2px 1px;
	margin: 0rem 0rem 0.1rem;
	text-align: center;
	margin: 0rem 0rem 1rem;
}

/* form_add_noticia */
.form_update{
	width: 80vw;
	height: auto;
}

.form_update_wrapper{
	margin: 0rem 0rem 1rem;
}

.form_update_h1{
	font-family: 'edo_sz';
	font-size: 30px;
	color: #783a93;
	text-shadow: #f9c6e2 2px 2px 1px;
	margin: 0rem 0rem 0.1rem;
}

/* inputs */
.form_update_input{
	width: 80vw;
	height: 4vh;
	font-size: 15px;
	border: none;
	border-radius: 3px;
	box-shadow:  0 0 5px #8c959a;
}

.form_update_textarea{
	width: 80vw;
	height: 8vh;
	font-size: 15px;
	border: none;
	border-radius: 3px;
	box-shadow:  0 0 5px #8c959a;
}

#id_noticia{
	background-color: #E0E0E0;
}

#noticia{
	height: 20vh;
}

/* botão update */
.form_update_btn{
	width: 120px;
	height: 40px;
	background-color: #783a93;
	border: none;
	border-radius: 10px;
	font-family: 'edo_sz';
	font-size: 30px;
	color: #f9c6e2;
	margin: 0rem 0rem 1.5rem;
}








