/* wrapper notícia */
.noticia_wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90vw;
	height: auto;
	margin: 0rem 0rem 2rem;
}

.noticia_wrapper_img{
	width: 80vw;
	height: auto;
	border-radius: 3px 3px 0 0;
}

.noticia_wrapper_img img{
	width: 80vw;
	height: auto;
	border-radius: 3px 3px 0 0;
}

/* textos do wrapper */
.noticia_wrapper_texts{
	width: 80vw;
}

.noticia_titulo{
	font-family: 'edo_sz';
	font-size: 33px;
	color: #783a93;
}

.noticia_descricao{
	font-size: 16px;
	color: #000;
}

.noticia_data{
	font-size: 14px;
	font-weight: 300;
	color: #333333;
}

.noticia_autor{
	font-size: 15px;
	font-weight: 300;
	color: #333333;	
}

/* botão ver tudo */
.div_ver_tudo_btn{
	display: flex;
	align-items: center;
	justify-content: center;
}

.ver_tudo_btn{
	width: 150px;
	height: 40px;
	background-color: #783a93;
	border: none;
	border-radius: 10px;
	font-family: 'edo_sz';
	font-size: 30px;
	color: #f9c6e2;
	margin: 0rem 0rem 1.5rem;
	box-shadow:  0 0 5px #8c959a;
}