@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@font-face{
	font-family: edo_sz;
	src: url('../fonts/edosz.ttf');
}

/* buscar */
.form_buscar{
	width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
	background-color: #BCA5CF;
}

.buscar{
	margin-bottom: 0.3rem;
}

.form_label{
	font-size: 15px;
	color: #783A93;
	font-weight: 600;
	margin-left: 10px;
}

/* botões */
.form_add_btn{
	width: 120px;
	height: 40px;
	background-color: #783a93;
	border: none;
	border-radius: 10px;
	font-family: 'edo_sz';
	font-size: 30px;
	margin: 0rem 0rem 1.5rem;
}

.form_add_btn a{
	color: #f9c6e2;
}



