@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@font-face{
	font-family: edo_sz;
	src: url('../fonts/edosz.ttf');
}

/* buscar */
.form_buscar{
	width: 100vw;
	height: 9vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	background-color: #D9BBDB;
}

.buscar{
	width: 80vw;
	border: solid 1px;
	border-color: #783A93;
	border-radius: 3px;
}

.form_buscar_label{
	font-size: 16px;
	font-weight: 400;
	color: #783A93;
}

/* botões */
.add_btn_div{
	margin: 0rem 10% 1rem;
}

.add_btn{
	display: flex;
	align-items: center;
}

.add_btn img{
	height: 22px;
	margin-right: 0.5rem;
}

.add_btn_label{
	font-size: 22px;
	font-weight: 300;
	color: #783a93;
}


