/* notícia */
.noticia_display{
	width: 80vw;
	height: auto;
	margin: 0rem 0rem 1.5rem;
}

.noticia_titulo{
	font-family: 'edo_sz';
	font-size: 40px;
	color: #783a93;
	margin: 0 0.5rem;
	text-align: center;
}

.noticia_descricao{
	font-size: 20px;
	color: #000;
	margin: 0 0.5rem;
	text-align: center;
}

.noticia_data{
	font-size: 15px;
	font-weight: 300;
	color: #333333;
	margin: 0 0.5rem;
	text-align: left;
}

.noticia_autor{
	font-size: 16px;
	font-weight: 300;
	color: #333333;	
	margin: 0 0.5rem;
	text-align: left;
}

.noticia_texto{
	font-size: 20px;
	color: #000;
	margin: 0 0.5rem;
	text-align: justify;
}

/* botões */
.update_btn_div{
	margin: 0rem 10% 1rem;
}

.update_btn{
	display: flex;
	align-items: center;
}

.update_btn img{
	height: 24px;
	margin-right: 0.5rem;
}

.update_btn_label{
	font-size: 24px;
	font-weight: 300;
	color: #783a93;
}

.excluir_btn_div{
	margin: 0rem 10% 1.5rem;
}

.excluir_btn{
	display: flex;
	align-items: center;
}

.excluir_btn img{
	height: 24px;
	margin-right: 0.5rem;
}

.excluir_btn_label{
	font-size: 24px;
	font-weight: 300;
	color: #783a93;
}
